.footer {
	
	background-color: rgba(0, 0, 0, 0.05);
	width: 100%;
}
.footer__box{
	
	display: grid;
	grid-template-rows: 80% 20%;
}
.social__img{
	fill:#333333;
}
.social__img:hover{
	fill: red;
}

.footer {

	&__blocks {
		display: grid;
		grid-template-columns: repeat(auto-fit, 18%);
		justify-content: center;
		gap: 20px;
		padding: 50px 0px 0px 0px;
		@media (max-width:1024px) {	
			grid-template-columns: repeat(auto-fit, 400px);
		}
	}
	&__blocks-wrap{
		@media (max-width:769px) {	
			display: none;
		}
	}
	&__blocks-wrap.active{
		@media (max-width:769px) {	
			display: block;
		}
	}

	&__blocks-item {
	}

	&__logo {
		font-weight: 700;
line-height: 140%;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #333333;
margin-bottom: 30px;
@media (max-width:440px) {
	padding-right: 15px;
}

	}

	&__contacts-list {

	}

	&__contacts-item {
		&:not(:last-child){
			margin: 0px 0px 20px 0px;
			
		}
	}

	&__contacts-link {
		display: block;
line-height: 140%;
color: #333333;


	}

	&__contacts-img {
		padding: 0px 20px 0px 0px;
		
	}


&__blocks-title button{
	font-weight: 700;
	font-size: 20px;
	line-height: 140%;
	color: #333333;
	padding-bottom: 30px;

	@media (max-width:769px) {
		position: relative;
		padding-right: 25px;
		}
}
	&__blocks-link{
		padding-bottom: 20px;
		@media (max-width:440px) {	
			max-width:	87%;
				
		}
	}
	&__blocks-link a{
		display: block;
line-height: 140%;
color: #333333;

	}

	&__copyright {
		max-width: 100%;
		align-self: end;
		display: flex;
		justify-content: space-between;
		position: relative;
		padding: 25px 0px;
		@media (max-width:440px) {	
			max-width:	87%;
				
		}
		@media (max-width:350px) {	
			max-width:	75%;
				
		}
		&::before{
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			background-color: rgba(0, 0, 0, 0.3);
			height: 1px;
			width: 100%;
			
		}
		@media (max-width:440px) {	
			flex-direction: column;
			justify-content: center;
			
			align-items: center;
			
		}
		
	}
}
.social {
	margin: 50px 0px 0px 0px;
	display: grid;
	grid-template-columns: repeat(4, 20%);
	align-items: center;

	
	&__img {
		
	}
}

.open-btn{
	@media (max-width:769px) {
		
	position: relative;
		&::after{
			content: '';
		
			border: 10px solid transparent;
			border-top: 10px solid black;
			position: absolute;
			right: 0%;top:18%; 
			height: 10px;width: 10px;
			}
	
		
		}

}
.open-btn.active{
	
	@media (max-width:769px) {
		&::after{
			content: '';
		
			border: 10px solid transparent;
			border-bottom: 10px solid black;
			position: absolute;
			right: 0%;top:-2%; 
			height: 10px;width: 10px;
			}
	
		
		}

}